<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Employer/HomePage/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/WorkerOffer/Index/">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">İş İlanları Sayfası</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Employer/Profil/Index/">
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Employer/JobAnnouncement/AddJobAnnouncement/">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">İş İlanı Aç</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">İş Takip</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Employer/WorkFollow/GiveJobs/">Verilen İşler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Employer/WorkFollow/ReceiverJobs/">Alınan İşler</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#teslim" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">İş Teslimi</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="teslim">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Employer/Delivery/GiveDelivery/">Teslim Alınan İşler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Employer/Delivery/SendDelivery/">Teslim Edilen İşler</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#teklif" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">Teklifler</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="teklif">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Employer/OfferFollow/GiveOfferList/">Verilen Teklifler</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Employer/OfferFollow/ReceiverOfferList/">Alınan Teklifler</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Employer/Login/Logout/">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>