@using EntityLayer.Concrete
@model List<Offer>
@{
    ViewData["Title"] = "GiveDelivery";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

@{
    string color = "";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Teslim Alınan İşler Tablosu</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>İş Adı</th>
                            <th>İşi Yapan Kişi</th>
                            <th>Price</th>
                            <th>Onayla</th>
                            <th>Reddet</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status)
                            {
                                color = "badge badge-outline-success";
                            }
                            if (!item.Status)
                            {
                                color = "badge badge-outline-warning";
                            }

                            <tr>
                                <td>@item.JobName</td>
                                <td>@item.WorkerUserName</td>
                                <td>@item.Price ₺</td>
                                <td>
                                    <a href="/Employer/Delivery/Onayla/@item.OfferId/">
                                        <button class="btn btn-outline-success">Onayla</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/Employer/Delivery/Reddet/@item.OfferId/">
                                        <button class="btn btn-outline-danger">Reddet</button>
                                    </a>
                                </td>
                                @* <td><a href="./AnnouncementDetails/@item.JobId" class="btn btn-outline-primary">Detaylar</a></td> *@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

