<footer class="footer-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-3  col-md-12">
				<div class="single-footer-widget">
					<h6>Geliştiriciler</h6>
					<ul class="footer-nav">
						<li><a href="#">İlyas Güner</a></li>
						<li><a href="#">İbrahim Sardoğan</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6  col-md-12">
				<div class="single-footer-widget newsletter">
					<h6>Mesaj</h6>
					<p>İstediğiniz zaman bize ulaşabilirsiniz.</p>
					<div id="mc_embed_signup">
						<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

							<div class="form-group row" style="width: 100%">
								<div class="col-lg-8 col-md-12">
									<input name="EMAIL" placeholder="Mail Giriniz" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>
								</div>

								<div class="col-lg-4 col-md-12">
									<button class="nw-btn primary-btn">Gönder<span class="lnr lnr-arrow-right"></span></button>
								</div>
							</div>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3  col-md-12">
				<div class="single-footer-widget mail-chimp">
					<h6 class="mb-20">Instragram Feed</h6>
					<ul class="instafeed d-flex flex-wrap">
						<li><img src="~/freelancer-job/img/i1.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i2.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i3.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i4.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i5.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i6.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i7.jpg" alt=""></li>
						<li><img src="~/freelancer-job/img/i8.jpg" alt=""></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row footer-bottom d-flex justify-content-between">
			<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
			<div class="col-lg-4 col-sm-12 footer-social">
				<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
				<a href="https://www.github.com/"><i class="fa fa-github"></i></a>
				<a href="https://www.instagram.com/"><i class="fa fa-instagam"></i></a>
				<a href="https://www.linkedln.com/"><i class="fa fa-linkedln"></i></a>
			</div>
		</div>
	</div>
</footer>
